@font-face 
{
font-family: "Noteworthy";
src: url("Noteworthy-Lt.ttf")
}
html 
{
	overflow-y: scroll; 
	scroll-behavior: smooth;

}
header img
{
	position: absolute;
	left: 20px;
	width: 300px;
	height: 300px;
}
img#background
{
	overflow-y: scroll;
	position: absolute;
	width: 100%;
	height: 6050px;
}
tr
{
	position: absolute;
	font-size: 30px;
	left: 300px;
	top: 200px;
	padding: 30px;
	font-family: "Noteworthy";
}
#sec
{
position: absolute;
left: 100px;
top: 500px;
width: 75%;
font-family: "Noteworthy";
}
#sec img
{
position: relative;
width: 100%;
height: 800px;
top: 90px;
}
#about-us
{
position: absolute;
font-size: 30px;
top: 625px;
left: 60px;
width: 80%;
font-family: "Noteworthy";
}
#iframe
{
position: absolute;
height: 500px;
width: 60%;
left: 175px;
top: 1600px;
}
#rooms
{
position: absolute;
top: 2300px;
left: 100px;
width: 75%;
font-family: "Noteworthy";
}
#room1
{
position: absolute;
width: 45%;
height: 200px;
top: 125px;
left: 75px;
}
#room2
{
position: absolute;
width: 45%;
height: 200px;
top: 125px;
left: 500px;
}
#room3
{
position: absolute;
width: 45%;
height: 200px;
top: 325px;
left: 250px;
}
#background5
{
position: relative;
top: 50px;
width: 100%;
height: 850px;
}
#information
{
position: absolute;
left: 50px;
width: 80%;
top: 525px;
font-size: 25px;
font-family: "Noteworthy";
}
#booking
{
position: absolute;
top: 3300px;
left: 250px;
width: 50%;
}
#booking img
{
position: relative;
width: 100%;
height: 700px;
top: 50px;
}
#bookingform 
{
position: absolute;
top: 125px;
left: 150px;
font-size: 20px;
font-family: "Noteworthy";
text-align: center;
}
#contact img
{
position: absolute;
top: 4200px;
left: 150px;
width: 65%;
height: 750px;
}
#questions
{
position: absolute;
top: 2050px;
left: 700px;
width: 450px;
font-family: "Noteworthy";
}
#questions img
{
position: relative;
width: 100%;
height: 400px;
top: 50px;
}
#contactform
{
position: absolute;
top: 70px;
font-size: 12px;
font-family: "Noteworthy";
text-align: center;
width: 350px;
left: 50px;
}
#complaint
{
width: 350px;
height: 100px;	
}
#marquee
{
position: absolute;	
top: 5px;
left: 85px;
height: 600px;
width: 80%;
}
#marquee img
{
height: auto;	
}
#rooms table
{
position: absolute;
bottom: 900px;
text-align: center;
right: 875px;
}
#quote
{
position: absolute;
font-size: 68px;
left: 1000px;
width: 30px;
top: 400px;
}
#header
{
position: absolute;
width: 75%;
left: 100px;
top: 440px;
height: 150px;
}
#header1
{
position: absolute;
width: 60%;
left: 175px;
top: 1500px;
height: 100px;
}
#header2
{
position: absolute;
width: 600px;
left: 100px;
top: 1200px;
height: 80px;
}
#header3
{
position: absolute;
width: 450px;
left: 725px;
top: 1350px;
height: 50px;
}
#header4
{
position: absolute;
width: 450px;
left: 700px;
top: 2050px;
height: 50px;
}