@font-face 
{
font-family: "Noteworthy";
src: url("Noteworthy-Lt.ttf")
}
html 
{
	overflow-y: scroll; 
	scroll-behavior: smooth;

}
header img
{
	position: absolute;
	left: 20px;
	width: 300px;
	height: 300px;
}
img#background
{
	overflow-y: scroll;
	position: absolute;
	width: 100%;
	height: 6200px;
}
tr
{
	position: absolute;
	font-size: 30px;
	left: 275px;
	top: 250px;
	padding: 30px;
	font-family: "Noteworthy";
}
#sec
{
position: absolute;
left: 100px;
top: 500px;
width: 75%;
font-family: "Noteworthy";
}
#sec img
{
position: relative;
width: 100%;
height: 900px;
top: 90px;
}
#about-us
{
position: absolute;
font-size: 30px;
top: 625px;
left: 60px;
width: 80%;
font-family: "Noteworthy";
}
#iframe
{
position: absolute;
height: 550px;
width: 60%;
left: 175px;
top: 1700px;
}
#rooms
{
position: absolute;
top: 2475px;
left: 100px;
width: 75%;
font-family: "Noteworthy";
}
#room1
{
position: absolute;
width: 45%;
height: 200px;
top: 125px;
left: 25px;
}
#room2
{
position: absolute;
width: 45%;
height: 200px;
top: 125px;
left: 425px;
}
#room3
{
position: absolute;
width: 45%;
height: 200px;
top: 325px;
left: 175px;
}
#background5
{
position: relative;
top: 50px;
width: 100%;
height: 850px;
}
#information
{
position: absolute;
left: 75px;
width: 80%;
top: 550px;
font-size: 25px;
font-family: "Noteworthy";
}
#booking
{
position: absolute;
top: 3500px;
left: 175px;
width: 65%;
}
#booking img
{
position: relative;
width: 100%;
height: 700px;
top: 50px;
}
#bookingform 
{
position: absolute;
top: 150px;
left: 250px;
font-size: 20px;
font-family: "Noteworthy";
text-align: center;
}
#contact img
{
position: absolute;
top: 4300px;
left: 150px;
width: 70%;
height: 750px;
}
#questions
{
position: absolute;
top: 5200px;
left: 175px;
width: 65%;
font-family: "Noteworthy";
}
#questions img
{
position: relative;
width: 100%;
height: 600px;
top: 50px;
}
#contactform
{
position: absolute;
top: 100px;
font-size: 20px;
font-family: "Noteworthy";
text-align: center;
width: 350px;
left: 225px;
}
#complaint
{
width: 350px;
height: 100px;	
}
#marquee
{
position: absolute;	
top: 5px;
left: 85px;
height: 600px;
width: 80%;
}
#marquee img
{
height: auto;	
}
#rooms table
{
position: absolute;
bottom: 1025px;
text-align: center;
right: 950px;
}
#quote
{
position: absolute;
font-size: 68px;
left: 975px;
width: 30px;
top: 400px;
}
#header
{
position: absolute;
width: 75%;
left: 100px;
top: 440px;
height: 150px;
}
#header1
{
position: absolute;
width: 60%;
left: 175px;
top: 1600px;
height: 100px;
}
#header2
{
position: absolute;
width: 75%;
left: 100px;
top: 2400px;
height: 125px;
}
#header3
{
position: absolute;
width: 65%;
left: 175px;
top: 3450px;
height: 100px;
}
#header4
{
position: absolute;
width: 65%;
left: 175px;
top: 5150px;
height: 100px;
}